# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
develop-eggs/
dist/
eggs/
#lib/ CONFLICTS WITH NODEJS MODULES
lib64/
parts/
sdist/
build/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Cool text editors
*.swp
*.swo

# Mac
.DS_Store


